<header>
  <nav class="bg-cultured" data-module="pdae_theme_navbar" data-module-trigger="navbar-switch" data-module-target="navbar-menu">
    <div class="container-fluid">
      <ul class="pdae-nav-xs list-unstyled mb-0">
        <li class="pdae-nav-item">
          <a href="/">
            <img src="{{ "images/site-logo.svg" | absURL }}" alt="Datos Abiertos Ecuador">
          </a>
        </li>
        <li class="pdae-nav-item">
          <button class="btn bg-cultured text-blue-sapphire fs-35 navbar-switch">
            <i class="bi bi-list"></i>
          </button>
        </li>
      </ul>
      <ul class="pdae-nav-md list-unstyled mb-0" id="navbar-menu">
        <li class="pdae-nav-item text-end visible-xs visible-sm">
          <button class="fs-22 btn btn-blue-sapphire navbar-switch">
            <i class="bi bi-x-lg"></i>
          </button>
        </li>
        <li class="pdae-nav-item hidden-xs hidden-sm">
          <a href="/">
            <img src="{{ "images/site-logo.svg" | absURL }}" alt="">
          </a>
        </li>
        <li class="pdae-nav-item">
          <a href="/">
            Inicio
          </a>
        </li>
        <li class="pdae-nav-item">
          <a href="/dataset">
            {{ .Site.Params.menu_labels.dataset }}
          </a>
        </li>
        <li class="pdae-nav-item">
          <a href="/blog">
            {{ .Site.Params.menu_labels.blog }}
          </a>
        </li>
        <li class="pdae-nav-item">
          <a href="/normativa">
            {{ .Site.Params.menu_labels.regulations }}
          </a>
        </li>
        <li class="pdae-nav-item">
          <span href="#">
            {{ .Site.Params.menu_labels.learn }}
          </span>
          <ul class="pdae-nav-submenu list-unstyled mb-0">
            <li class="hidden-xs hidden-sm">
              <span>{{ .Site.Params.menu_labels.learn }}</span>
            </li>
            <li>
              <a href="/centro-de-aprendizaje/preguntas-frecuentes">
                {{ .Site.Params.menu_labels.faq }}
              </a>
            </li>
            <li>
              <a href="/centro-de-aprendizaje/manuales">
                {{ .Site.Params.menu_labels.manuals }}
              </a>
            </li>
            <li>
              <a href="/centro-de-aprendizaje/cursos">
                {{ .Site.Params.menu_labels.courses }}
              </a>
            </li>
          </ul>
        </li>
        <li class="pdae-nav-item">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdoWHMb7R_ZMG8Xm8METrNXi9KLmfiNgwKniFzI1fZPUKVb4Q/viewform" target="_blank">
            {{ .Site.Params.menu_labels.participation }}
          </a>
        </li>
        <li class="pdae-nav-item">
          <a href="/user/login" class="btn pdae-nav-login">
            Iniciar sesión
          </a>
        </li>
      </ul>
      <div class="pdae-nav-overlay"></div>
    </div>
  </nav>
  <div class="flag"></div>
</header>
