{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="text-blue-sapphire text-center fw-bold fs-52">Blog</h2>
        <div class="d-grid gap-16 mt-32">
          <div class="bg-white p-20">
            <h2 class="text-blue-sapphire fs-22 fw-bold mt-0">
              ¿Qué son los Datos Abiertos y por qué son importantes?
            </h2>
            <p class="text-jungle-green mt-16">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo
              dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
              sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
              amet…
            </p>
            <p class="text-jungle-green">
              <em
                >Última actualización
                <span class="fw-bold">18 de Abril de 2021</span></em
              >
            </p>
          </div>
          <div class="bg-white p-20">
            <h2 class="text-blue-sapphire fs-22 fw-bold mt-0">
              ¿Qué son los Datos Abiertos y por qué son importantes?
            </h2>
            <p class="text-jungle-green mt-16">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo
              dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
              sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
              amet…
            </p>
            <p class="text-jungle-green">
              <em
                >Última actualización
                <span class="fw-bold">18 de Abril de 2021</span></em
              >
            </p>
          </div>
          <div class="bg-white p-20">
            <h2 class="text-blue-sapphire fs-22 fw-bold mt-0">
              ¿Qué son los Datos Abiertos y por qué son importantes?
            </h2>
            <p class="text-jungle-green mt-16">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo
              dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
              sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
              amet…
            </p>
            <p class="text-jungle-green">
              <em
                >Última actualización
                <span class="fw-bold">18 de Abril de 2021</span></em
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
